---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=3eb6cc289cbe4354b41222539232409&q=39.52766,-119.81353
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '09/26/2023 19:44:55'
      Cdn-Edgestorageid:
      - '1110'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 5e040663f82e10029116a1a1609227d9
      Cdn-Cache:
      - HIT
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Reno","region":"Nevada","country":"United States
        of America","lat":39.53,"lon":-119.81,"tz_id":"America/Los_Angeles","localtime_epoch":1695757493,"localtime":"2023-09-26
        12:44"},"current":{"last_updated":"2023-09-26 12:30","temp_f":75.0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png"},"humidity":24,"feelslike_f":75.9,"vis_miles":9.0,"uv":5.0},"forecast":{"forecastday":[{"date":"2023-09-26","day":{"maxtemp_f":73.4,"mintemp_f":43.7,"totalsnow_cm":0.0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png"}},"astro":{"sunrise":"06:50
        AM","sunset":"06:50 PM"},"hour":[{"time":"2023-09-26 00:00","temp_f":48.1,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-26
        01:00","temp_f":47.0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-26
        02:00","temp_f":46.4,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png"}},{"time":"2023-09-26
        03:00","temp_f":46.0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com[...]
